<div class="container">
  <p-fluid class="flex flex-col md:flex-row gap-8">
    <div class="md:w-1/2">
      <div class="card flex flex-col gap-4">
          <h3>Buscar Expedientes</h3>

          <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center w-5rem h-5rem font-bold border-round m-2">
              <div class="flex flex-col gap-2" style="padding: 10px; width: 250px;">
                <label for="sede">Sede</label>
                <p-select id="sede" [(ngModel)]="sedeSeleccionada" [options]="sedes" optionLabel="nombre" placeholder="Seleccione Sede"></p-select>
              </div>
            </div>
            <div class="flex align-items-center justify-content-center w-5rem h-5rem font-bold border-round m-2">
              <div class="flex flex-col gap-2" style="padding: 10px; width: 250px;">
                <label for="instancia">Instancia</label>
                <p-select id="instancia" [(ngModel)]="instanciaSeleccionada" [options]="instancias" optionLabel="nombre" placeholder="Seleccione Instancia"></p-select>
              </div>
            </div>
            <div class="flex align-items-center justify-content-center w-5rem h-5rem font-bold border-round m-2">
              <div class="flex flex-col gap-2" style="padding: 10px; width: 250px;">
                <label for="especialidad">Especialidad</label>
                <p-select id="especialidad" [(ngModel)]="especialidadSeleccionada" [options]="especialidades" optionLabel="nombre" placeholder="Seleccione Especialidad"></p-select>
              </div>
            </div>

            <div class="flex align-items-center justify-content-center w-5rem h-5rem font-bold border-round m-2">
              <div class="flex flex-col gap-2" style="padding: 10px; width: 200px;">
                <label for="numero">Número</label>
                <input pInputText id="numero" [(ngModel)]="numeroExpediente" type="text">
              </div>
            </div>

            <div class="flex align-items-center justify-content-center w-5rem h-5rem font-bold border-round m-2">
              <div class="flex flex-col gap-2" style="padding: 10px; width: 200px;">
                <label for="anio">Año</label>
                <input pInputText id="numero" [(ngModel)]="anioExpediente" type="text">
              </div>
            </div>

            <div class="flex align-items-center justify-content-center w-5rem h-5rem font-bold border-round m-2">
              <div class="flex flex-col gap-2" style="padding: 10px; width: 200px; display: flex; justify-content: flex-end;">
                <div class="search-button">
                  <p-button label="Buscar" icon="pi pi-search" (onClick)="buscarExpedientes()"></p-button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </p-fluid>

  <br>

  <div class="p-fluid box">
    <div class="p-field p-grid">
      <div class="results-table">
        <p-table [value]="expedientes" showGridlines [responsiveLayout]="'scroll'">
          <ng-template pTemplate="header">
            <tr>
              <th>Expediente</th>
              <th>Instancia Actual</th>
              <th>Ubicación</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-expediente>
            <tr>
              <td>{{ expediente.nroExpediente }}</td>
              <td>{{ expediente.instanciaActual }}</td>
              <td>{{ expediente.ubicacion }}</td>
              <td>{{ expediente.estado }}</td>
              <td>
                </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No se encontraron expedientes.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  
</div>